name: Deploy Demo

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Root Dependencies
        run: bun install

      - name: Build Library
        run: bun run build

      - name: Install Example Dependencies
        run: cd example && bun install

      - name: Build Example
        run: |
          cd example
          bun run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: example/dist
          branch: gh-pages
